*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: black;
}

.box{
    display: grid;
    justify-content: center;
    margin: auto;
    max-width: 400px;
    

}

.clock{
    margin-top: 50px;
    font-size: 5em; 
    display: inline-block;
    color: antiquewhite;
}
.box button {
    cursor: pointer;
    font-size: large;
    color: white;
}
.box button:hover {
    color: yellow;
}
.assunto{
    color: turquoise;
    display: grid;
    max-width: 300px;
    grid-template-columns: auto 1fr 1fr;
    margin: auto;
}
.lista{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: auto;
    justify-items: start;
    border-radius: 14px;
    padding-bottom: 20px;
    max-width: 300px;
   
}
.resultado{
 
    color: greenyellow;
    border: #23d5ab;
}
.result{
    margin-top: 37px;
    color: greenyellow;
    border: #23d5ab;
}





